.hero{
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem 1rem;
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
    align-items: center;
    gap: 1rem;
    position: relative;
}
.hero > * {
    position: relative;
    z-index: 1;
}

.hero::before {
    content: "";
    position: absolute;
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        var(--tertiary) 10%,
        rgba(255, 255, 255, 0) 70%
    );
    pointer-events: none;
    z-index: 0;
}

.hero::after {
    content: "";
    position: absolute;
    width: 800px;
    height: 800px;
    right: -400px;
    top: -400px;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        var(--secondary) 10%,
        rgba(255, 255, 255, 0) 70%
    );
    pointer-events: none;
    z-index: 0;
}

#hero__label{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .8rem;
    color: var(--color-label);
    border: 1.5px solid var(--color-label-30);
    border-radius: 999px;
    width: fit-content;
    padding: .3rem 1rem;
    background-color: var(--color-label-10);
}
#hero__label svg{
    width: 1rem;
}

.hero img{
    width: 80%; 
    aspect-ratio: 1/1;
    box-shadow: 0 0 40px var(--neutral);
    border-radius: 50%;
}

.hero__text-container{
    gap: 1rem;
    width: 100%;
}

.hero__text-container p{
    font-size: 1rem;
    color: var(--neutral);
}

.hero__text-container__buttons{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
}

.phrase{
    width: 100%;
    height: 500px;
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 1rem;
    gap: 1rem;
}

.phrase-description{
    color: var(--neutral);
    width:100%
}

.solutions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.solutions h2, .solutions > p:first-of-type{
    text-align: center;
    color: var(--neutral);
}

.solutions__container{
    display: flex;
    flex-direction: column;
    background-color: var(--background-primary);
    gap: 1rem;
}

.solutions__container__solution{
    display: flex;
    flex-direction: column;
    background-color: var(--background-secondary);
    padding: 1rem;
    gap: 1rem;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    transition: background-color .2s ease, border-color .3s ease;
    height: 175px;
    border: 2px solid transparent;
    border-radius: 1rem;
}

.solutions__container__solution:hover{
    border-color: var(--solution-color);
}

.solutions__container__solution:hover h3{
    color: var(--solution-color);
    transition: color .2s ease;
}

.solutions__container__solution__icon{
    position: absolute;
    color: var(--solution-color);
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
}

#solution-1{
    --solution-color: var(--secondary)
}
#solution-2{
    --solution-color: var(--secondary-hover)
}
#solution-3{
    --solution-color: var(--tertiary-hover)
}
#solution-4{
    --solution-color: var(--tertiary-hover)
}


.solutions__container__solution__title{
    width: 50%;
}

.solutions__container__solution__link{
    color: var(--primary);
    display: flex;
    align-items: center;
    width: 100%;
}

.solutions__container__solution__link svg{
    transition: transform .5s ease;
}

.solutions__container__solution__link:hover svg{
    transform: translateX(5px);
    transition: transform .5s ease;
}

.develop-steps{
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--background-secondary);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.develop-steps__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.develop-steps__step{
    border-top: 3px solid var(--step-color);
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.develop-steps__step__number{
    font-size: 2rem;
    border: 3px solid var(--step-color);
    border-radius: 1rem;
    box-shadow: 0 0 12px var(--step-color);
    color: var(--step-color);
    padding: 1rem;
    width: 75px;
    height: 75px;
}
.develop-steps__step__title{
    font-size: 1.7rem;
}

.develop-steps__step__description{
    font-size: 1.2rem
}

.step-odd{
    --step-color: var(--secondary)
}

.step-even{
    --step-color: var(--tertiary)
}

.phrase2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--background-tertiary);
}

.phrase2 svg{
    color: var(--secondary);
    width: 2rem;
    height: 2rem;
}

.why-wharf{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    text-align: center;
}

.values-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.value{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .5rem 1rem;
    width: 200px;
    background-color: var(--background-tertiary);
    border: 3px solid transparent;
    border-radius: 1rem;
    transition: box-shadow .3s ease;
    font-size: 1.2rem;
}

.value:hover{
    box-shadow: 0px 0px 5px var(--neutral);
}

.value svg{
    color: var(--value-color);
}

.value-odd{
    --value-color: var(--secondary)
}

.value-even{
    --value-color: var(--tertiary)
}


.provider{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 3px solid var(--borders);
}

.provider__parts-container{
    display: flex;
    flex-direction: column;
    gap: .1rem;
    background-color: var(--borders);
    box-sizing: border-box;
}

.provider__parts__part{
    padding: 2rem;
    width: 100%;
    height: 100%;
    background-color: var(--background-primary);
    box-sizing: border-box;
}

.provider__parts__part__title{
    font-weight: bold;
    font-size: 1.7rem;
}

.from-veracruz{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}

.from-veracruz__text{
    padding: 1rem;
}

.phrase h2{
    font-weight: 900;
    color: var(--neutral);
    font-size: 3rem;
}

.new-idea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    height: 500px;
}

@media (min-width:768px){
    .solutions__container__solution h3{
        font-size: 1.8rem;
        width: 80%;
    }

    .solutions__container__solution p{
        font-size: 1.2rem;
    }

    .develop-steps__container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .develop-steps__step{
        width: calc((100% - 2rem)/2);
    }

    .phrase2{
        height: 500px;
    }
    .phrase2 h2{
        font-size: 3rem;
        width: 70%;
    }

    .phrase2 p{
        width: 70%;
    }

    .values-container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .value{
        width: calc((100% - 1rem)/2);
    }
}

@media (min-width:1024px){
    .hero{
        flex-direction: row;
        justify-content: space-around;
    }

    .hero__text-container{
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .hero img{
        width: 40%;
    }

    .hero__text-container h1{
        font-size: 5rem;
    }

    .hero__text-container p{
        font-size: 2rem;
    }

    .hero__text-container__buttons{
        flex-direction: row;
        gap: 1rem;
    }
    
    .phrase-description{
        width:50%
    }
    .solutions__container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .solutions__container__solution{
        width: calc(50% - 1rem);
    }

    .develop-steps{
        height: 600px;
    }

    .develop-steps__step{
        width: calc((100% - 3rem)/4);
    }

    .why-wharf{
        height: 500px;
        justify-content: center;
    }

    .value{
        width: calc((100% - 3rem)/4);
        height: 100px;
    }
    .provider{
        flex-direction: row;
        justify-content: space-around;
    }
    .provider h2{
        width: 50%;
    }

    .provider__parts-container{
        width: 50%;
    }

    .provider__parts__part{
        padding: 2rem;
        width: 100%;
        height: 100%;
        background-color: var(--background-primary);
        box-sizing: border-box;
    }
    .from-veracruz{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
    }

    .from-veracruz img{
        width: 40%;
    }

    .from-veracruz__text{
        padding: 1rem;
        width: 40%;
    }

    .phrase h2{
        width: 70%;
        font-size: 4rem;
    }

}